# Clients Dependencies
ollama==0.1.8
openai==1.16.2

# Main Dependencies
python-dotenv

# plot_rsquared Dependencies
numpy
pandas
plotly
scikit-learn

# graph collation and viewing
dash
pyinstaller

# response_similarity Dependencies
nltk
pandas

# Utilities & Networking
requests
