html, body {
    height: 800px;
    margin: 0;
    padding: 0;
    overflow: hidden; /* This prevents any scrolling caused by overflow */
}

#graph-display {
    width: 100%;
    height: 100%; /* Ensuring the iframe takes up all available vertical space */
    border: 0; /* Removing any default border */
}

.container {
    width: 100%;
    height: 100%; /* This can be your div that wraps the iframe */
}
/* assets/style.css */
._dash-undo-redo {
    display: none !important;
}